<div class="large-12 columns">
	<div class="sticky">
		<nav class="top-bar" data-topbar="">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><a href="#">Music App</a></h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
				<li><a href="#">Guitar</a></li>
				<li class="divider hide-for-small"></li>
				<li><a href="#">Scales</a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>

<div class="row selecters">
	<div class="large-4 columns key-selecter">
		<label>Key</label>
		<select name="mydropdown" id="key-dropdown">
			<!-- Populate through jquery instead -->
		</select>
	</div>
	<div class="large-4 columns scale-select">
		<label>Scale</label>
		<select name="mydropdown" id="scale-dropdown">
			<!-- Populate through jquery instead -->
		</select>
	</div>
</div>

<div class="body">
	<h3 id="key">A</h3>
	<h3 id="scale">major</h3>
	<div id="notes"></div>
</div>